@theme {
	--color-primary: #233d4d;
	--color-secondary: #5f6f76;
	--color-brand-secondary: #233d4d;
	--color-bg: #f5f1e8;
	--color-border: #233d4d;
	--color-brand: #fe7f2d;
	--color-card: transparent;
	--color-article: #f5f1e8;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
